<html>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
	<div class="center">
		<h1>SELECT USER</h1>
		<div class="customer">
				<h3>Customer</h3>
			<button type="submit" class="btn btn-primary btn-lg" [routerLink]="['/businesses']"><img src="./../assets/images/customer.png"></button>
		</div>

		<div class="customer">
				<h3>Business</h3>
				<button type="submit" class="btn btn-primary btn-lg" [routerLink]="['/login']"><img src="./../assets/images/business.png"></button>
			</div>
	</div>
</body>

