
.navbar{
	color: white;
	background-color: black;
}
table {
	width: 100%;
	// text-align: center;
	margin: 20px 20px 20px 20px;

}

.strike-through {
	text-decoration: line-through;
	color: lightgrey;

	button {
		display: none;
	}
}

.add-info {
	display: inline-block;
}
