<html>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
	<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">SoQueue</a>
				</div>
			<ul class="nav navbar-nav navbar-right">
					<li><a *ngIf="company" [routerLink]="['/']" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</nav>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Number</th>
				<th *ngIf="company">Name</th>
				<th *ngIf="company">Phone #</th>
				<th>Party</th>
				<th *ngIf="!getCustomer()">Served</th>
				<th *ngIf="!getCustomer()">Notify</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let customer of customers" [attr.class]="getStyleClass(customer)">
				<td>{{customer._id}}</td>
				<td *ngIf="company">{{customer.name}}</td>
				<td *ngIf="company">{{customer.phone}}</td>
				<td>{{customer.party}}</td>
				<td *ngIf="!getCustomer()"><span (click)="removeCustomer($event, customer)" class="glyphicon glyphicon-check text-success"></span></td>
				<td *ngIf="!getCustomer()"><span (click)="sendSMS(customer)" class="glyphicon glyphicon-bell text-warning"></span></td>
			</tr>
		</tbody>
	</table>
	<form class="form-inline">
		<div class="add-info">
			  <div class="form-group">
					<label for="name">Name:</label>
				</div>
					<input
						type="text"
						name="name"
						class="form-control"
						required
						[(ngModel)]="newCustomer.name"
						#name='ngModel'
					>
		</div>

		<div class="add-info">
				<div class="form-group">
					<label for="name">Phone:</label>
				</div>
					<input
						type="number"
						name="phone"
						class="form-control"
						onKeyPress="if(this.value.length==11) return false;"
						required
						[(ngModel)]="newCustomer.phone"
						#phone='ngModel'
					>
		</div>

		<div class="add-info">
			<label for="party">Party:</label>
			<input
				type="number"
				name="party"
				class="form-control"
				required
				[(ngModel)]="newCustomer.party"
				#party='ngModel'
			>
		</div>

		<input 
			(click)="addCustomer()" 
			type="submit"  
			value="Add"
			class="btn btn-default btn-sm"
		>
		
	</form>
</body>
</html>