<html>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
	<!-- <form *ngIf="company" class="form-inline" #form="ngForm">
		<div class="add-info">
			  <div class="form-group">
					<label for="name">Name:</label>
				</div>
					<input
						type="text"
						name="name"
						class="form-control"
						required
						[(ngModel)]="search.name"
						#name='ngModel'
					>
		</div>
		<div class="add-info">
				<div class="form-group">
					<label for="name">Phone:</label>
				</div>
					<input
						type="number"
						name="phone"
						class="form-control"
						onKeyPress="if(this.value.length==11) return false;"
						required
						[(ngModel)]="search.phone"
						#phone='ngModel'
					>
		</div>

		<div class="add-info">
			<label for="party">Party:</label>
			<input
				type="number"
				name="party"
				class="form-control"
				required
				[(ngModel)]="search.party"
				#party='ngModel'
			>
		</div>
		<input 
			(click)="search(form.value)" 
			type="submit"  
			value="Search"
			class="btn btn-default btn-sm"
		>
	</form> -->
	<form class="form-inline">
		<div class="add-info">
			  <div class="form-group">
					<label for="name">Name:</label>
				</div>
					<input
						type="text"
						name="name"
						class="form-control"
						required
						[(ngModel)]="newCustomer.name"
						#name='ngModel'
					>
		</div>

		<div class="add-info">
				<div class="form-group">
					<label for="name">Phone:</label>
				</div>
					<input
						type="number"
						name="phone"
						class="form-control"
						onKeyPress="if(this.value.length==11) return false;"
						required
						[(ngModel)]="newCustomer.phone"
						#phone='ngModel'
					>
		</div>

		<div class="add-info">
			<label for="party">Party:</label>
			<input
				type="number"
				name="party"
				class="form-control"
				required
				onKeyPress="if(this.value.length==2) return false;"
				[(ngModel)]="newCustomer.party"
				#party='ngModel'
			>
		</div>

		<input 
			(click)="addCustomer()" 
			type="submit"  
			value="Add"
			class="btn btn-default btn-sm"
		>
		
	</form>
	<a [routerLink]="['/businesses']" *ngIf="getCustomer()">Go Back To Businesses</a>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Number</th>
				<th>Name</th>
				<th *ngIf="!getCustomer()">Phone #</th>
				<th>Party</th>
				<th *ngIf="!getCustomer()">Served</th>
				<th *ngIf="!getCustomer()">Notify</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let customer of customers" [attr.class]="getStyleClass(customer)">
				<td>{{customer._id}}</td>
				<td>{{customer.name}}</td>
				<td *ngIf="!getCustomer()">{{customer.phone}}</td>
				<td>{{customer.party}}</td>
				<td *ngIf="!getCustomer()"><span (click)="removeCustomer($event, customer)" class="glyphicon glyphicon-check text-success"></span></td>
				<td *ngIf="!getCustomer()"><span (click)="sendSMS(customer)" class="glyphicon glyphicon-bell text-warning"></span></td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>