<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <body>
    <div class="container">
      <div class="row">
        <!-- <div class="panel panel-primary"> -->
          <div class="panel-body">
            <h2>Login</h2>
            <img src="assets/images/people.png"> 
              <form #form="ngForm"> 
                <div class="form-group">         
                  <p>   
                    <span class="glyphicon glyphicon-envelope"></span>
                    <label for="email">Email:</label>
                    <input
                      type="text"
                      name="email"
                      class="form-control"
                      required
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                      [(ngModel)]="user.email"
                      #email='ngModel'
                    >
                  </p>
                </div>
                <div *ngIf='!email.valid && email.dirty'>Email must be valid</div>
                  <div class="form-group">  
                    <p>
                      <span class="glyphicon glyphicon-lock"></span>
                      <label for="email">Password:</label>
                      <input 
                        type="password"
                        name="password"
                        class="form-control"
                        required
                        minlength="8"
                        [(ngModel)]="user.password"
                        #password='ngModel'
                      >
                    </p>
                    <span class="error" *ngIf=error>{{error.message}}</span>
                  </div>
                <input 
                (click)="login()" 
                class="btn btn-primary btn-block"
                type="submit"  
                value="Login"
                >
              </form>
            <div class="button">
              <a [routerLink]="['/registration']">Don't have an account? Register</a>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </body>
</html>
