<form #form="ngForm">
  <p>
    Email:
    <input
      type="text"
      name="email"
      required
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
      [(ngModel)]="user.email"
      #email='ngModel'
    >
  </p>
  <div *ngIf='!email.valid && email.dirty'>Email must be valid</div>
  <p>
    Password:
    <input 
      type="password"
      name="password"
      required
      minlength="8"
      [(ngModel)]="user.password"
      #password='ngModel'
    >
  </p>
  <input 
    (click)="login()" 
    [routerLink]="['dashboard']"
    type="submit"  
    value="Login"
  >
</form>
