*{
    
}
body{
    width: 100%;
    height: 950px;
}
img{
    padding: 20px 20px 20px 20px;
    margin-left: 80px;
}
.container{   
    opacity: 50%;    
    width: 600px;
    height: 700px;
    /* box-shadow: 7px 7px 7px 7px;  */
}
<<<<<<< HEAD
.error{
  color: red;  
  margin-top: 10px;
  margin-bottom: 10px;
=======
body{
>>>>>>> 5d8e78f3f96ce3b1b59feff5a64b00370db123c8
}
.btn{
    margin-top: 50px;
    background-color: #619CF4;
}
.button{
    text-align: center;
    padding-top: 50px;
}
h2{
    margin-bottom: 20px;
}