
<form class="form-inline" *ngIf="!hidden">
		<div class="add-info">
			  <div class="form-group">
					<label for="name">Name:</label>
				</div>
					<input
						type="text"
						name="name"
						class="form-control"
						required
						[(ngModel)]="newCustomer.name"
						#name='ngModel'
					>
		</div>

		<div class="add-info">
				<div class="form-group">
					<label for="name">Phone:</label>
				</div>
					<input
						type="number"
						name="phone"
						class="form-control"
						required
						[(ngModel)]="newCustomer.phone"
						#phone='ngModel'
					>
		</div>

		<div class="add-info">
			<label for="party">Party:</label>
			<input
				type="number"
				name="party"
				class="form-control"
				required
				[(ngModel)]="newCustomer.party"
				#party='ngModel'
			>
		</div>

		<input 
			(click)="addCustomer()" 
			type="submit"  
			value="Add"
		>
		
	</form>